.formInput {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #b79b6c;
  margin-bottom: 10px;
}

.formInput::placeholder {
  font-size: 0.85em;
}
.formButton {
  border-color: #b59868;
  background-color: #b79b6c;
  color: #fff;
  padding: 10px 15px;
}

.wrapper {
  margin: 25px 0;
  position: relative;
  width: 100%;
  height: 100%;
}

button.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 170px;
  height: 50px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #b59868;
  background: #b79b6c;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}

button.btns span {
  color: #fff;
  opacity: 1;
  visibility: visible;
  transition: all 0.35s;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s;
}

.success svg {
  width: 20px;
  height: 20px;
  fill: #b79b6c;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all 0.35s;
}

button.is_active {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 40px;
}

button.is_active .success {
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg {
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span {
  opacity: 0;
  visibility: hidden;
}
.Header {
  font-weight: bold;
}
.subHeader {
  transform: translateX(-14px) translateY(-12px);
  text-align: end;
  color: #b79b6c;
  font-size: 0.85em;
  margin-bottom: 30px;
}
