.productHead {
  font-size: 2.5em;
  font-weight: bold;
}
.price {
  display: flex;
}

.price > div {
  font-size: 1.1em;
  margin-right: 0.75em;
}
.price > div:nth-child(2) {
  color: #888;
  text-decoration: line-through;
}
.price > div:nth-child(3) {
  font-weight: bold;
}
.desript {
  margin: 15px 0;
}
